.footer {
  @include container;
  padding: 40px 0;

  background: $preto;

  p {
    float: left;
    margin: 0 10px;
    font-size: fonte(18);
    line-height: 1.4em;
    color: $branco;
  }

  img {
    float: right;
    margin: 0 10px;
    display: block;
  }

}