/*Variaveis*/
$preto: #252525;
$branco: white;
$font-1: Georgia,
serif;
$width-principal:960px;

/*Funçao Fonte*/
@function fonte($font-size, $contexto: 16) {
  @return calc(($font-size / $contexto) * 1em);
}

/*Reset*/
body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: $font-1;
  color: $preto;
}