/*Variaveis*/
$preto: #252525;
$branco: wheat;
$amber: #FFC107;
$font-1: Georgia,
serif;
$cafes:(1:#594130, 2:#6f513c, 3:#8b4513);
$cores-cafe:("paulista":#594130, "carioca":#6f513c, "mineiro":#8b4513);
$textos:(1:"Texto 1", 2:"Texto 2", 3:"texto 3");
$width-principal:960px;

/*Funçao Fonte*/
@function fonte($font-size, $contexto: 16) {
  @return calc(($font-size / $contexto) * 1em);
}

/*Mixin container*/
@mixin container {
  &-container {
    max-width: $width-principal;
    margin: 0 auto;

    &::before,
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

}

/*Reset*/
body,
h1,
h2,
h3,
p,
ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: $font-1;
  color: $preto;
}