/* Menu*/
.menu {
  background: $preto;
  padding: 20px 0;

  @include container;

  @include responsivo(s) {
    &-container {
      max-width: 720px;
    }
  }


  &-nav {
    float: right;
    margin-right: 10px;

    li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: $branco;
      font-size: fonte(18);

    }

    @include responsivo(s) {
      float: none;
      clear: both;
    }
  }

  @include responsivo(s) {
    text-align: center;
  }
}

a {
  &.menu-logo {
    display: block;
    float: left;
    margin-left: 10px;

    @include responsivo(s) {
      float: none;
      margin: 0 auto;
    }
  }
}